img {
  width: 100px;
  height: 100px;
}

mat-label {
  color: black;
}

.blockL {
  float: left;
  margin-top: 30px;
}
.blockR {
  float:right;
  margin-top: 30px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
