<app-header></app-header>
<br>
<div class="features">
  <div class="featurestext">
    <h2>Мужские Аксессуары</h2>
  </div>
  <div class="featurebox">
    <ul>
      <li class="feature-item">
        <img src="https://pngimg.com/uploads/tie/tie_PNG8184.png"
             class="img-settings" routerLink="man-ties">
        <br>
        <p class="picture-text" routerLink="man-ties">Галстуки</p>
      </li>
      <li class="feature-item">
        <img src="https://pngimg.com/uploads/clock/clock_PNG6615.png"
             alt="Grind" class="img-settings" routerLink="man-watch">
        <br>
        <p class="picture-text" routerLink="man-watch">Часы</p>
      </li>
    </ul>
  </div>
</div>
