<app-header></app-header>
<br>
<div class="features">
  <div class="featurestext">
    <h2>Женские Аксессуры</h2>
  </div>
  <div class="featurebox">
    <ul>
      <li class="feature-item">
        <img src="https://pngicon.ru/file/uploads/zhenskaja-sumka.png"
             class="img-settings" routerLink="woman-bags">
        <br>
        <p class="picture-text" routerLink="woman-bags">Сумки</p>
      </li>
      <li class="feature-item">
        <img src="https://lh3.googleusercontent.com/proxy/NzoTglWEG-a5VOamMr_OEkSAIjZOvMuAI6Wk3LODJC4FOQz7t9XlH4HNeCZgV5J6x2VVd7UQLd6b5QFvUp6xSQGBevOwv3MmRKNNDmbjiT8_6w8MRzOkBiFhGArQkRLYqm5Arix0-dE1ThPf_2nwlbs"
             alt="Grind" class="img-settings" routerLink="woman-scarves">
        <br>
        <p class="picture-text" routerLink="woman-scarves">Платки и шарфы</p>
      </li>
    </ul>
  </div>
</div>
