<app-header></app-header>
<br>
<div class="features">
  <div class="featurestext">
    <h2>Женская Обувь</h2>
  </div>
  <div class="featurebox">
    <ul>
      <li class="feature-item">
        <img src="https://pngicon.ru/file/uploads/zhenskiye-tufli-256x220.png"
             class="img-settings" routerLink="woman-shoe">
        <br>
        <p class="picture-text" routerLink="woman-shoe">Туфли</p>
      </li>
      <li class="feature-item">
        <img src="https://images.ua.prom.st/150582866_w640_h640_cid2053863_pid75990865-9a75dc7b.png"
             alt="Grind" class="img-settings" routerLink="woman-ballet">
        <br>
        <p class="picture-text" routerLink="woman-ballet">Балетки</p>
      </li>
    </ul>
  </div>
</div>
