<app-header></app-header>
<br>
<div class="features">
  <div class="featurestext">
    <h2>Мужская Одежда</h2>
  </div>
  <div class="featurebox">
    <ul>
      <li class="feature-item">
        <img src="https://www.terra-jeans.ru/images/product_images/info_images/340_0.png"
             class="img-settings" routerLink="man-pants">
        <br>
        <p class="picture-text" routerLink="man-pants">Брюки</p>
      </li>
      <li class="feature-item">
        <img src="https://4kraski.ru/assets/images/products/17441/e82e1d031bdfc3b34f16741d280d8b47.png"
             alt="Grind" class="img-settings" routerLink="man-t-shirts">
        <br>
        <p class="picture-text" routerLink="man-t-shirts">Футболки</p>
      </li>
      <li class="feature-item">
        <img src="https://files.gifts.ru/reviewer/tb/88/6563.14_1.jpg"
             alt="Recap" class="img-settings" routerLink="man-shirts">
        <br>
        <p class="picture-text" routerLink="man-shirts">Рубашки</p>
      </li>
    </ul>
  </div>
</div>

