<app-header></app-header>
<br>
<div class="features">
  <div class="featurestext">
    <h2>Женские Блузки и Рубашки</h2>
  </div>
  <div class="featurebox">
    <ul *ngFor="let womanBlouse_Shirt of womanBlouses_Shirts;">
      <li class="feature-item">
        <img src="{{ womanBlouse_Shirt.imgPath }}"
             class="size-height" routerLink="woman-bags">
        <br>
        <p class="picture-text" routerLink="woman-bags">{{ womanBlouse_Shirt.name }}</p>
        <br>
        <p class="picture-text">{{ womanBlouse_Shirt.cash }} Р <button  mat-button (click)="addWomanBlouses_ShirtsToCart(womanBlouse_Shirt)">В корзину</button></p>
      </li>
    </ul>
  </div>
</div>
